@import url('https://fonts.google.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ******** general css ******** */
.general-para{
    margin-top: 20px;
    font-size: 16px;
    color: #d9d9d9;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(8px);
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-family: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); 
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    text-align: center;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
    color: #d9d9d9;
}

.home-content .btn-box {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: auto 0;
    margin-bottom: 20px; 
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 24px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

#about{
    padding-top: 120px;
    height: 600px;
}
#work{
    padding-top: 120px;
    height: 1300px;
}
#projects{
    padding-top: 120px;
    height: 500px;
}

#contact {
    padding-top: 120px;
    height: 400px;
}

.about {
    padding: 0 10%;
    background: #081b29;
}

.work {
    padding: 0 10%;
    background: #081b29;
}

.projects {
    padding: 0 10%;
    background: #081b29;
}

.contact {
    padding: 0 10%;
    background: #081b29;
}

.about h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.work h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.skills-para{
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
    color: #00abf0;
    margin-bottom: 20px;
}

.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25%;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

li{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    gap: 4px;
}

span i{
    color: #00abf0;
}

.work-para{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00abf0;
}

.work-paragraph{
    margin-top: 20px;
}

.app-images{
    display: flex;
    justify-content: space-between;
}

.oxford-img{
    margin-top: 20px;
    height: 420px;
    border-radius: 24px;
}

.internship{
    color: #00abf0;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
}

.chatbotlink:visited,
.chatbotlink:active,
.chatbotlink:hover,
.chatbotlink:link{
    text-decoration: none;
}

.chatbot-link{
    margin-top: 10px;
    color: #00abf0;
}

.mail{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
}

.linkedin{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
}

.contact-details{
    color: #00abf0;
}